body{
    font-family:sans-serif, helvetica, arial;
    background-color: darkred;
}
nav{
    width: 98.7%;
    padding-top:10px;
    padding-bottom: 15px;
    background-color: navy;
    margin-left: 10px;

}

nav a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding:   20px;
}

header{
    height: 400px;
    width: 98.7%;
    margin-left: 10px;
    text-align: center;
    font-size: 25px;
    background-image: url(https://www.w3schools.com/howto/img_snow.jpg);
    background-size: contain;
    color: white;
}

.slide{
    height: 75vh;
    width: 98.7%;
    margin-left:10px;
    background-color: khaki;
    border: 1px solid black;
}

.contactMe{
    height: 45vh;
    width:98.7%;
    margin-left:10px;
    background-color: khaki;
    border: 1px solid black;
}
#about h1{
    text-align: center;
}
#product h1{
    text-align: center;
}
#contact h1{
    text-align: center;
}

#aboutPicture{
    background-image: url(http://webresizer.com/images2/bird1_after.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 65%;
    width: 40%;
    height: 73vh;


}

#aboutDetails{
    width:60%;
}